[submodule "meta-gplv2"]
	path = meta-gplv2
	url = git@github.com:aml-streambox/meta-gplv2.git
[submodule "meta-aml-cfg"]
	path = meta-aml-cfg
	url = git@github.com:aml-streambox/meta-aml-cfg.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git@github.com:aml-streambox/meta-openembedded.git
[submodule "aml-patches"]
	path = aml-patches
	url = git@github.com:aml-streambox/aml-patches.git
[submodule "meta-security"]
	path = meta-security
	url = git@github.com:aml-streambox/meta-security.git
[submodule "meta-python2"]
	path = meta-python2
	url = git@github.com:aml-streambox/meta-python2.git
[submodule "poky"]
	path = poky
	url = git@github.com:aml-streambox/poky.git
[submodule "meta-qt5"]
	path = meta-qt5
	url = git@github.com:aml-streambox/meta-qt5.git
[submodule "meta-meson"]
	path = meta-meson
	url = git@github.com:aml-streambox/meta-meson.git
[submodule "aml-comp/vendor/amlogic/bluez-alsa"]
	path = aml-comp/vendor/amlogic/bluez-alsa
	url = git@github.com:aml-streambox/bluez-alsa.git
[submodule "aml-comp/vendor/amlogic/dialserver"]
	path = aml-comp/vendor/amlogic/dialserver
	url = git@github.com:aml-streambox/dialserver.git
[submodule "aml-comp/vendor/amlogic/zvbi"]
	path = aml-comp/vendor/amlogic/zvbi
	url = git@github.com:aml-streambox/zvbi.git
[submodule "aml-comp/vendor/amlogic/secpu_fw_loader"]
	path = aml-comp/vendor/amlogic/secpu_fw_loader
	url = git@github.com:aml-streambox/secpu_fw_loader.git
[submodule "aml-comp/vendor/amlogic/libsecdmx_release"]
	path = aml-comp/vendor/amlogic/libsecdmx_release
	url = git@github.com:aml-streambox/libsecdmx_release.git
[submodule "aml-comp/vendor/amlogic/ledring"]
	path = aml-comp/vendor/amlogic/ledring
	url = git@github.com:aml-streambox/ledring.git
[submodule "aml-comp/vendor/amlogic/hdcp"]
	path = aml-comp/vendor/amlogic/hdcp
	url = git@github.com:aml-streambox/hdcp.git
[submodule "aml-comp/vendor/amlogic/slt/npu_app"]
	path = aml-comp/vendor/amlogic/slt/npu_app
	url = git@github.com:aml-streambox/npu_app.git
[submodule "aml-comp/vendor/amlogic/bluez"]
	path = aml-comp/vendor/amlogic/bluez
	url = git@github.com:aml-streambox/bluez.git
[submodule "aml-comp/vendor/amlogic/aml_avb_dm_verity"]
	path = aml-comp/vendor/amlogic/aml_avb_dm_verity
	url = git@github.com:aml-streambox/aml_avb_dm_verity.git
[submodule "aml-comp/vendor/amlogic/aml_swupdate_ui"]
	path = aml-comp/vendor/amlogic/aml_swupdate_ui
	url = git@github.com:aml-streambox/aml_swupdate_ui.git
[submodule "aml-comp/vendor/amlogic/aml_pqserver"]
	path = aml-comp/vendor/amlogic/aml_pqserver
	url = git@github.com:aml-streambox/aml_pqserver.git
[submodule "aml-comp/vendor/amlogic/meson_display"]
	path = aml-comp/vendor/amlogic/meson_display
	url = git@github.com:aml-streambox/meson_display.git
[submodule "aml-comp/vendor/amlogic/linux_sample_app"]
	path = aml-comp/vendor/amlogic/linux_sample_app
	url = git@github.com:aml-streambox/linux_sample_app.git
[submodule "aml-comp/vendor/amlogic/tdk/v3.18.0"]
	path = aml-comp/vendor/amlogic/tdk/v3.18.0
	url = git@github.com:aml-streambox/tdk-v3.18.0.git
[submodule "aml-comp/vendor/amlogic/tdk/v2.4.4"]
	path = aml-comp/vendor/amlogic/tdk/v2.4.4
	url = git@github.com:aml-streambox/tdk-v2.4.4.git
[submodule "aml-comp/vendor/amlogic/tdk/v3.8.0"]
	path = aml-comp/vendor/amlogic/tdk/v3.8.0
	url = git@github.com:aml-streambox/tdk-v3.8.0.git
[submodule "aml-comp/vendor/amlogic/aucpu_fw"]
	path = aml-comp/vendor/amlogic/aucpu_fw
	url = git@github.com:aml-streambox/aucpu_fw.git
[submodule "aml-comp/vendor/amlogic/mediactrlsrc"]
	path = aml-comp/vendor/amlogic/mediactrlsrc
	url = git@github.com:aml-streambox/mediactrlsrc.git
[submodule "aml-comp/vendor/amlogic/dtvdemod"]
	path = aml-comp/vendor/amlogic/dtvdemod
	url = git@github.com:aml-streambox/dtvdemod.git
[submodule "aml-comp/vendor/amlogic/gst1-plugins-tsplayer"]
	path = aml-comp/vendor/amlogic/gst1-plugins-tsplayer
	url = git@github.com:aml-streambox/gst1-plugins-tsplayer.git
[submodule "aml-comp/vendor/amlogic/apl-core-library"]
	path = aml-comp/vendor/amlogic/apl-core-library
	url = git@github.com:aml-streambox/apl-core-library.git
[submodule "aml-comp/vendor/amlogic/boot-animation"]
	path = aml-comp/vendor/amlogic/boot-animation
	url = git@github.com:aml-streambox/boot-animation.git
[submodule "aml-comp/vendor/amlogic/meson_mali"]
	path = aml-comp/vendor/amlogic/meson_mali
	url = git@github.com:aml-streambox/meson_mali.git
[submodule "aml-comp/vendor/amlogic/aml_npu_common"]
	path = aml-comp/vendor/amlogic/aml_npu_common
	url = git@github.com:aml-streambox/aml_npu_common.git
[submodule "aml-comp/vendor/amlogic/provision"]
	path = aml-comp/vendor/amlogic/provision
	url = git@github.com:aml-streambox/provision.git
[submodule "aml-comp/vendor/amlogic/apl-client-library"]
	path = aml-comp/vendor/amlogic/apl-client-library
	url = git@github.com:aml-streambox/apl-client-library.git
[submodule "aml-comp/vendor/amlogic/aml_hdmicec"]
	path = aml-comp/vendor/amlogic/aml_hdmicec
	url = git@github.com:aml-streambox/aml_hdmicec.git
[submodule "aml-comp/vendor/amlogic/aml_subtitleserver"]
	path = aml-comp/vendor/amlogic/aml_subtitleserver
	url = git@github.com:aml-streambox/aml_subtitleserver.git
[submodule "aml-comp/vendor/amlogic/aml_commonlib"]
	path = aml-comp/vendor/amlogic/aml_commonlib
	url = git@github.com:aml-streambox/aml_commonlib.git
[submodule "aml-comp/vendor/amlogic/dvb"]
	path = aml-comp/vendor/amlogic/dvb
	url = git@github.com:aml-streambox/dvb.git
[submodule "aml-comp/vendor/amlogic/libdrm_amlogic"]
	path = aml-comp/vendor/amlogic/libdrm_amlogic
	url = git@github.com:aml-streambox/libdrm_amlogic.git
[submodule "aml-comp/vendor/amlogic/adla_lib"]
	path = aml-comp/vendor/amlogic/adla_lib
	url = git@github.com:aml-streambox/adla_lib.git
[submodule "aml-comp/multimedia"]
	path = aml-comp/multimedia
	url = git@github.com:aml-streambox/multimedia.git
[submodule "aml-comp/prebuilt/vendor"]
	path = aml-comp/prebuilt/vendor
	url = git@github.com:aml-streambox/prebuilt-vendor.git
[submodule "aml-comp/prebuilt/target"]
	path = aml-comp/prebuilt/target
	url = git@github.com:aml-streambox/prebuilt-target.git
[submodule "aml-comp/prebuilt/hosttools"]
	path = aml-comp/prebuilt/hosttools
	url = git@github.com:aml-streambox/hosttools.git
[submodule "aml-comp/uboot/bl33/v2015"]
	path = aml-comp/uboot/bl33/v2015
	url = git@github.com:aml-streambox/bl33-v2015.git
[submodule "aml-comp/uboot/bl33/v2019"]
	path = aml-comp/uboot/bl33/v2019
	url = git@github.com:aml-streambox/bl33-v2019.git
[submodule "aml-comp/uboot/bl30/bin"]
	path = aml-comp/uboot/bl30/bin
	url = git@github.com:aml-streambox/bl30.git
[submodule "aml-comp/uboot/bl30/src_ao"]
	path = aml-comp/uboot/bl30/src_ao
	url = git@github.com:aml-streambox/src_ao.git
[submodule "aml-comp/uboot/bl30/rtos_sdk/lib/libc"]
	path = aml-comp/uboot/bl30/rtos_sdk/lib/libc
	url = git@github.com:aml-streambox/rtos-libc.git
[submodule "aml-comp/uboot/bl30/rtos_sdk/build_system"]
	path = aml-comp/uboot/bl30/rtos_sdk/build_system
	url = git@github.com:aml-streambox/rtos-build_system.git
[submodule "aml-comp/uboot/bl30/rtos_sdk/boards/riscv"]
	path = aml-comp/uboot/bl30/rtos_sdk/boards/riscv
	url = git@github.com:aml-streambox/rtos-soc-riscv.git
[submodule "aml-comp/uboot/bl30/rtos_sdk/scripts"]
	path = aml-comp/uboot/bl30/rtos_sdk/scripts
	url = git@github.com:aml-streambox/rtos-scripts.git
[submodule "aml-comp/uboot/bl30/rtos_sdk/arch/riscv"]
	path = aml-comp/uboot/bl30/rtos_sdk/arch/riscv
	url = git@github.com:aml-streambox/rtos-soc-riscv.git
[submodule "aml-comp/uboot/bl30/rtos_sdk/kernel/freertos"]
	path = aml-comp/uboot/bl30/rtos_sdk/kernel/freertos
	url = git@github.com:aml-streambox/freertos.git
[submodule "aml-comp/uboot/bl30/rtos_sdk/drivers_aocpu"]
	path = aml-comp/uboot/bl30/rtos_sdk/drivers_aocpu
	url = git@github.com:aml-streambox/drivers_aocpu.git
[submodule "aml-comp/uboot/bl30/rtos_sdk/soc/riscv"]
	path = aml-comp/uboot/bl30/rtos_sdk/soc/riscv
	url = git@github.com:aml-streambox/rtos-soc-riscv.git
[submodule "aml-comp/uboot/bl30/rtos_sdk/products/aocpu"]
	path = aml-comp/uboot/bl30/rtos_sdk/products/aocpu
	url = git@github.com:aml-streambox/aocpu.git
[submodule "aml-comp/uboot/bl32/bl32_3.8/bin"]
	path = aml-comp/uboot/bl32/bl32_3.8/bin
	url = git@github.com:aml-streambox/bl32_3_8.git
[submodule "aml-comp/uboot/bl32/bl32_2.4/bin"]
	path = aml-comp/uboot/bl32/bl32_2.4/bin
	url = git@github.com:aml-streambox/bl32_2_4.git
[submodule "aml-comp/uboot/bl32/bl32_3.18/bin"]
	path = aml-comp/uboot/bl32/bl32_3.18/bin
	url = git@github.com:aml-streambox/bl32_3_18.git
[submodule "aml-comp/uboot/bl31/bl31_1.0/bin"]
	path = aml-comp/uboot/bl31/bl31_1.0/bin
	url = git@github.com:aml-streambox/bl31_1_0.git
[submodule "aml-comp/uboot/bl31/bl31_1.3/bin"]
	path = aml-comp/uboot/bl31/bl31_1.3/bin
	url = git@github.com:aml-streambox/bl31_1_3.git
[submodule "aml-comp/uboot/bl2/bin"]
	path = aml-comp/uboot/bl2/bin
	url = git@github.com:aml-streambox/bl2.git
[submodule "aml-comp/uboot/fip"]
	path = aml-comp/uboot/fip
	url = git@github.com:aml-streambox/fip.git
[submodule "aml-comp/uboot/soc/templates"]
	path = aml-comp/uboot/soc/templates
	url = git@github.com:aml-streambox/uboot-templates.git
[submodule "aml-comp/uboot/bl40/bin"]
	path = aml-comp/uboot/bl40/bin
	url = git@github.com:aml-streambox/bl40.git
[submodule "aml-comp/hardware/aml-5.15/wifi/qualcomm/drivers/qca6174"]
	path = aml-comp/hardware/aml-5.15/wifi/qualcomm/drivers/qca6174
	url = git@github.com:aml-streambox/qca6174-5.4.git
[submodule "aml-comp/hardware/aml-5.15/wifi/realtek/drivers/8821cu"]
	path = aml-comp/hardware/aml-5.15/wifi/realtek/drivers/8821cu
	url = git@github.com:aml-streambox/8821cu.git
[submodule "aml-comp/hardware/aml-5.15/amlogic/media_modules"]
	path = aml-comp/hardware/aml-5.15/amlogic/media_modules
	url = git@github.com:aml-streambox/media_modules.git
[submodule "aml-comp/hardware/aml-5.15/amlogic/arm-isp"]
	path = aml-comp/hardware/aml-5.15/amlogic/arm-isp
	url = git@github.com:aml-streambox/arm-isp-5.4.git
[submodule "aml-comp/hardware/aml-4.9/wifi/mediatek"]
	path = aml-comp/hardware/aml-4.9/wifi/mediatek
	url = git@github.com:aml-streambox/bt-mediatek-4.9.git
[submodule "aml-comp/hardware/aml-4.9/arm/gpu"]
	path = aml-comp/hardware/aml-4.9/arm/gpu
	url = git@github.com:aml-streambox/gpu.git
[submodule "aml-comp/hardware/aml-4.9/bluetooth/mediatek"]
	path = aml-comp/hardware/aml-4.9/bluetooth/mediatek
	url = git@github.com:aml-streambox/bt-mediatek-4.9.git
[submodule "aml-comp/hardware/aml-5.4/wifi/broadcom/drivers/ap6xxx"]
	path = aml-comp/hardware/aml-5.4/wifi/broadcom/drivers/ap6xxx
	url = git@github.com:aml-streambox/ap6xxx.git
[submodule "aml-comp/hardware/aml-5.4/wifi/amlogic/drivers/w1"]
	path = aml-comp/hardware/aml-5.4/wifi/amlogic/drivers/w1
	url = git@github.com:aml-streambox/w1.git
[submodule "aml-comp/hardware/aml-5.4/wifi/qualcomm/drivers/qca6174"]
	path = aml-comp/hardware/aml-5.4/wifi/qualcomm/drivers/qca6174
	url = git@github.com:aml-streambox/qca6174-5.4.git
[submodule "aml-comp/hardware/aml-5.4/wifi/realtek/drivers/8723du"]
	path = aml-comp/hardware/aml-5.4/wifi/realtek/drivers/8723du
	url = git@github.com:aml-streambox/8723du.git
[submodule "aml-comp/hardware/aml-5.4/wifi/realtek/drivers/8723bu"]
	path = aml-comp/hardware/aml-5.4/wifi/realtek/drivers/8723bu
	url = git@github.com:aml-streambox/8723bu.git
[submodule "aml-comp/hardware/aml-5.4/wifi/realtek/drivers/8852be"]
	path = aml-comp/hardware/aml-5.4/wifi/realtek/drivers/8852be
	url = git@github.com:aml-streambox/8852be.git
[submodule "aml-comp/hardware/aml-5.4/wifi/realtek/drivers/8822cu"]
	path = aml-comp/hardware/aml-5.4/wifi/realtek/drivers/8822cu
	url = git@github.com:aml-streambox/8822cu.git
[submodule "aml-comp/hardware/aml-5.4/amlogic/npu/nanoq"]
	path = aml-comp/hardware/aml-5.4/amlogic/npu/nanoq
	url = git@github.com:aml-streambox/nanoq.git
[submodule "aml-comp/hardware/aml-5.4/amlogic/wifi"]
	path = aml-comp/hardware/aml-5.4/amlogic/wifi
	url = git@github.com:aml-streambox/amlogic-wifi.git
[submodule "aml-comp/hardware/aml-5.4/amlogic/cve/lib"]
	path = aml-comp/hardware/aml-5.4/amlogic/cve/lib
	url = git@github.com:aml-streambox/cve-lib.git
[submodule "aml-comp/hardware/aml-5.4/amlogic/cve/driver"]
	path = aml-comp/hardware/aml-5.4/amlogic/cve/driver
	url = git@github.com:aml-streambox/cve-driver.git
[submodule "aml-comp/hardware/aml-5.4/amlogic/libencoder"]
	path = aml-comp/hardware/aml-5.4/amlogic/libencoder
	url = git@github.com:aml-streambox/libencoder.git
[submodule "aml-comp/hardware/aml-5.4/amlogic/libge2d"]
	path = aml-comp/hardware/aml-5.4/amlogic/libge2d
	url = git@github.com:aml-streambox/libge2d.git
[submodule "aml-comp/hardware/aml-5.4/amlogic/arm-isp"]
	path = aml-comp/hardware/aml-5.4/amlogic/arm-isp
	url = git@github.com:aml-streambox/arm-isp-5.4.git
[submodule "aml-comp/hardware/aml-5.4/amlogic/adla_driver"]
	path = aml-comp/hardware/aml-5.4/amlogic/adla_driver
	url = git@github.com:aml-streambox/adla_driver.git
[submodule "aml-comp/hardware/aml-5.4/amlogic/libgdc"]
	path = aml-comp/hardware/aml-5.4/amlogic/libgdc
	url = git@github.com:aml-streambox/libgdc.git
[submodule "aml-comp/hardware/aml-5.4/amlogic/libion"]
	path = aml-comp/hardware/aml-5.4/amlogic/libion
	url = git@github.com:aml-streambox/libion.git
[submodule "aml-comp/hardware/aml-5.4/bluetooth/amlogic"]
	path = aml-comp/hardware/aml-5.4/bluetooth/amlogic
	url = git@github.com:aml-streambox/bt-amlogic.git
[submodule "aml-comp/hardware/aml-5.4/bluetooth/realtek"]
	path = aml-comp/hardware/aml-5.4/bluetooth/realtek
	url = git@github.com:aml-streambox/bt-realtek.git
[submodule "aml-comp/kernel/aml-5.15"]
	path = aml-comp/kernel/aml-5.15
	url = git@github.com:aml-streambox/aml-5.15.git
[submodule "aml-comp/kernel/aml-5.4"]
	path = aml-comp/kernel/aml-5.4
	url = git@github.com:aml-streambox/aml-5.4.git
[submodule "meta-selinux"]
	path = meta-selinux
	url = git@github.com:aml-streambox/meta-selinux.git
[submodule "document"]
	path = document
	url = git@github.com:aml-streambox/document.git
